/05KAS2021-WS_2 (.ipynb
/09_11_21_Soru_Cözümü.ipynb
/canlıders_ipynb_adlı_not_defterinin_kopyası.ipynb
/group_1.ipynb
/group_2.ipynb
/group_3_cozumlu.ipynb
/html list 2.html
/melek hanım 12.11.2021.ipynb
/Python Workshop (16 Nov 21) (1).ipynb
/Python Workshop (16 Nov 21).ipynb
/PYTHON_ADDICT (3).ipynb
/PYTHON_ADDICT_CLARUSWAY.ipynb
/workshop_26_11 COZUMU.ipynb
/workshop_26_11.ipynb
/ws_1.ipynb